*{
  box-sizing: border-box;
}
html{
  border: 1px solid red;
}
body{
  border: 1px solid blue;
  margin: 0px;
  background-color: #f7f3ec;
  color: #1f2937;
  font-family: "Microsoft YaHei",Arial,sans-serif;
}
a{
  color: inherit;
  text-decoration: none;
}
button,input{
  font:inherit
}
button{
  cursor: pointer;
}